<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="UTF-8" />
    
    <title>Grégory Millasseau − Photos</title>
   
<style>
#filter {
    background: #000 url('{{ image.url }}') no-repeat center center fixed;
}
.menu a[href^="{{ session['album'] }}"] {
    text-shadow: var(--highlight);
}
</style>
<link rel="shortcut icon" href="static/favicon.png" />
<link rel="stylesheet" href="static/screen.css" media="screen and (min-width: 500px)" />
<link rel="stylesheet" href="static/mobile.css" media="screen and (max-width: 500px)" />
<link rel="stylesheet" href="https://static.gregseth.net/fontawesome/css/all.css" />

<script>
function toggle_menu() {
    menu = document.getElementsByTagName('nav')[0];
    value = menu.style.display;
    menu.style.display = (value === '' || value === 'none') ? 'block' : 'none';
}
</script>

</head>

<body>
    <div id="filter" ></div>
    
    <header>
        <h1>Grégory&nbsp;Millasseau</h1>
        <hr />
        <h2>{{ title }}</h2> 
        <p onclick="toggle_menu()"><span class="fa fa-bars"></span></p>   
    </header>
    
    <section id="content">
    {% block body %}
    <div>Nothing to see here.</div>
    {% endblock %}
    </section>
    
    <nav>
        <ul>
            <li class="menu">
                <p>Photos</p>
                <ul>
                    <li><a href="/">Récentes</i></a></li>
                    <li><a href="/random">Aléatoire <i class="fas fa-random"></i></a></li>
                </ul>
            </li>
            {% for cat, albums in menus.items() -%}
            <li class="menu">
                <p>{{ cat.capitalize() }}</p>
                <ul>
                    {% for album in albums -%}
                    <li><a href="/album/{{ album.slug }}">{{ album.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {%- endfor %}
            <li class="icons">
                <a href="https://www.flickr.com/photos/gregseth/"><i class="fab fa-flickr"></i></a><a href="https://www.instagram.com/gregseth"><i class="fab fa-instagram"></i></a>
            </li>
            {% if image.next -%}
            <li class="next"><a href="/photo/{{ image.next }}">Suivante <i class="fas fa-caret-right"></i></a></li>
            {%- endif %}
        </ul>
    </nav>
</body>
</html>
