<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<base href="/" />

<title>Locus</title>

<link rel="stylesheet" href="static/applets.css" />

</head>

<body>
<object xmlns="http://www.w3.org/1999/xhtml" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://active.macromedia.com/flash7/cabs/ swflash.cab#version=9,0,0,0" width="1050" height="710">
    <param name="movie" value="static/locus.swf">
    <param name="quality" value="high">
    <param name="play" value="true">
    <param name="FlashVars" value="version=3">
    <embed play="true" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" quality="high" src="https://photo.gregseth.net/static/locus.swf" flashvars="version=3" width="1050" height="710">
</object>
</body>
</html>
