<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="UTF-8" />
    
    <title>Grégory Millasseau − Photos</title>
   
<style>
#filter {
    background: #000 url('{{ image.url }}') no-repeat center center fixed;
}
.menu a[href^="{{ session['album'] }}"] {
    text-shadow: var(--highlight);
}
</style>
<link rel="stylesheet" href="static/screen.css" media="screen and (min-width: 500px)" />
<link rel="stylesheet" href="static/mobile.css" media="screen and (max-width: 500px)" />
<link rel="stylesheet" href="https://static.gregseth.net/fontawesome/css/all.css" />

<script>
function toggle_menu() {
    menu = document.getElementsByTagName('footer')[0];
    value = menu.style.display;
    menu.style.display = (value === '' || value === 'none') ? 'block' : 'none';
}
</script>

</head>

<body>
    <div id="filter" ></div>
    
    <header>
        <h1>Grégory&nbsp;Millasseau</h1>
        <hr />
        <h2>photographie</h2> 
        <p onclick="toggle_menu()"><span class="fa fa-bars"></span></p>   
    </header>
    
    <div id="big">
        <a href="/photo/{{ image.next }}">
            <img src="{{ image.url }}" />
        
            <div id="exif">
            {% if image.exif -%}
                <div style="float:left;">{{ image.exif.Model }} + {{ image.exif.LensModel }}</div><div style="float:right;">{{ image.exif.FocalLength }} − {{ image.exif.ExposureTime }}s − f/{{ image.exif.FNumber }} − ISO{{ image.exif.ISO }}</div>
            {%- else -%}
                No EXIF
            {%- endif %}
            </div>
        </a>
    </div>
    
    <footer>
        <ul>
            <li class="menu">
                <p>Photos</p>
                <ul>
                    <li><a href="/">Récentes</i></a></li>
                    <li><a href="/album/bestof">Best of</a></li>
                    <li><a href="/random">Aléatoire <i class="fas fa-random"></i></a></li>
                </ul>
            <li class="menu">
                <p>Albums</p>
                <ul>
                    <li><a href="/album/macro">Macro</a></li>
                    <li><a href="/album/mobile">Made with iPhone</a></li>
                    <li><a href="/album/drops">Gouttes</a></li>
                    <li><a href="/album/origami">Origami</a></li>
                </ul>
            </li>
            <li class="menu">
                <p>Voyages</p>
                <ul>
                    <li><a href="/album/mongolia">Mongolie</a></li>
                    <li><a href="/album/japan">Japon</a></li>
                    <li><a href="/album/copenhagen">Copenhague</a></li>
                    <li><a href="/album/polska">Pologne</a></li>
                    <li><a href="/album/amsterdam">Amsterdam</a></li>
                    <li><a href="/album/stockholm">Stockholm</a></li>
                </ul>
            </li>
            <li class="icons">
                <a href="https://www.flickr.com/photos/gregseth/"><i class="fab fa-flickr"></i></a><a href="https://www.instagram.com/gregseth"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="next"><a href="/photo/{{ image.next }}">Suivante <i class="fas fa-caret-right"></i></a></li>
        </ul>
    </footer>
</body>
</html>
