<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="UTF-8" />
    
    <title>Grégory Millasseau − Photos</title>
   
<style>
#filter {
    background: #000 url('{{ image.url }}') no-repeat center center fixed;
}
.menu a[href^="{{ session['album'] }}"] {
    text-shadow: var(--highlight);
}
</style>
<link rel="stylesheet" href="static/screen.css" media="screen and (min-width: 500px)" />
<link rel="stylesheet" href="static/mobile.css" media="screen and (max-width: 500px)" />
<link rel="stylesheet" href="https://static.gregseth.net/fontawesome/css/all.css" />

<script>
function toggle_menu() {
    menu = document.getElementsByTagName('footer')[0];
    value = menu.style.display;
    menu.style.display = (value === '' || value === 'none') ? 'block' : 'none';
}
</script>

</head>

<body>
    <div id="filter" ></div>
    
    <header>
        <h1>Grégory&nbsp;Millasseau</h1>
        <hr />
        <h2>photographie</h2> 
        <p onclick="toggle_menu()"><span class="fa fa-bars"></span></p>   
    </header>
    
    <div id="big">
        <a href="{{ image.album }}/{{ image.next }}">
            <img src="{{ image.url }}" />
        
            <div id="exif">
            {% if image.exif -%}
                <div style="float:left;">{{ image.exif.Model }} + {{ image.exif.LensModel }}</div><div style="float:right;">{{ image.exif.FocalLength }} − {{ image.exif.ExposureTime }}s − f/{{ image.exif.FNumber }} − ISO{{ image.exif.ISO }}</div>
            {%- else -%}
                No EXIF
            {%- endif %}
            </div>
        </a>
    </div>
    
    <footer>
        <ul>
            <li><a href="all/">Toutes</a></li>
            <li class="menu">
                <p>Albums</p>
                <ul>
                    <li><a href="macro/">Macro</a></li>
                    <li><a href="mobile/">Made with iPhone</a></li>
                    <li><a href="drops/">Gouttes</a></li>
                    <li><a href="origami/">Origami</a></li>
                    <li><a href="bestof/">Best of</a></li>
                </ul>
            </li>
            <li class="menu">
                <p>Voyages</p>
                <ul>
                    <li><a href="mongolia/">Mongolie</a></li>
                    <li><a href="japan/">Japon</a></li>
                    <li><a href="copenhagen/">Copenhague</a></li>
                    <li><a href="polska/">Pologne</a></li>
                    <li><a href="amsterdam/">Amsterdam</a></li>
                    <li><a href="stockholm/">Stockholm</a></li>
                </ul>
            </li>
            <li class="icons">
                <a href="https://www.flickr.com/photos/gregseth/"><span class="fab fa-flickr"></span></a><a href="https://www.instagram.com/gregseth"><span class="fab fa-instagram"></span></a>
            </li>
            <li class="next"><a href="{{ image.album }}/{{ image.next }}">
            {%- if image.album == 'all' -%}
                Aléatoire <span class="fa fa-random"></span>
            {%- else -%}
                Suivante <span class="fa fa-caret-right"></span>
            {%- endif -%}
            </a></li>
        </ul>
    </footer>
</body>
</html>
